<html>
<head>
  <title>minsung's pages</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>

<body>
    <header>
        <a href="/index.html" class="" title="HOME"></a>

        <div class="minsung-menu">
            <button id="menu-web-page" class="minsung-menu-button">Web Page</button>
            <button id="menu-blog" class="minsung-menu-button">Blog</button>
        </div>
    </header>
</body>

</html>

